
li {
  list-style: none
}

h1 {
  text-align: center;
}

.container {
  box-shadow: 10px 10px 5px grey;
  padding-left: 200px;
  padding-right: 200px;
  text-align: center;
}

p {
  font-style: italic;
}
